<div class="container-fluid header text-uppercase py-2 roboto-regular fs-12 border-bottom-3 color1 background-color8 border-color2">
	<div class="row justify-content-start align-items-center">
		<div class="col-auto">
			 <a href="/" class="link"><img class="img max-ht-md-4 max-ht-3" src="/app/img/5f510da912740.svg" alt="" /></a>
		</div>
		<div class="col-auto d-none d-lg-block ml-auto">
			 <a href="/" class="link no-decor hover-color2">Главная</a>
		</div>
		<div class="col-auto ml-4 d-none d-lg-block">
			 <a href="/services" class="link no-decor hover-color2">Наши услуги</a>
		</div>
		<div class="col-auto ml-4 d-none d-lg-block">
			 <a href="#" class="link no-decor hover-color2">Контакты</a>
		</div>
		<div class="col-auto ml-auto d-none d-md-block">
			 <a href="tel: +78002202222" class="link no-decor hover-color6 color5"><em class="icon fa-phone-alt"></em><span class="content roboto-medium">+7 (800) 220-22-22</span></a>
		</div>
		<div class="col-auto ml-auto d-block d-lg-none">
			<em class="icon fs-20 fa-bars menu-toggler-icon"></em>
		</div>
	</div>
</div>