@for $i from 1 through 50 {
  .ht-#{$i} { min-height: 1rem * $i ; }
}

@media (min-width: 576px) {
  @for $i from 1 through 50 {
    .ht-sm-#{$i} { min-height: 1rem * $i ; }
  }
}

@media (min-width: 768px) {
  @for $i from 1 through 50 {
    .ht-md-#{$i} { min-height: 1rem * $i ; }
  }
}

@media (min-width: 992px) {
  @for $i from 1 through 50 {
    .ht-lg-#{$i} { min-height: 1rem * $i ; }
  }
}

@media (min-width: 1200px) {
  @for $i from 1 through 50 {
    .ht-xl-#{$i} { min-height: 1rem * $i ; }
  }
}