/** roboto-bold **/
@font-face {
    font-family: 'roboto-bold';
    src: local('roboto-bold'),
        url('/app/fonts/roboto-bold/roboto-bold.woff') format('woff'),
        url('/app/fonts/roboto-bold/roboto-bold.eot') format('eot'),
        url('/app/fonts/roboto-bold/roboto-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.roboto-bold {
    font-family: 'roboto-bold';
}
