<section class="section background-color8 py-5 mt-auto">
	<div class="container-fluid roboto-thin color1 fs-10">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-auto col-12 text-center mb-lg-auto mb-3">
				<img class="img" src="/app/img/5f510da912740.svg" alt="" />
			</div>
			<div class="col-auto">
				<em class="icon fa-phone-alt"></em> <span class="content">+7 (800) 220-22-22</span>
			</div>
			<div class="col-auto">
				<em class="icon fa-envelope"></em> <span class="content">info@my-site.ru</span>
			</div>
			<div class="col-auto">
				<em class="icon fa-map-marker-alt"></em> <span class="content">г. Орел, ул. Болховское шоссе 1</span>
			</div>
			<div class="col-auto">
				<em class="icon fa-clock"></em> <span class="content">Пн-Пт с 10:00 до 17:00</span>
			</div>
		</div>
	</div>
</section>